form {
  max-width: 24rem;
  margin: 3rem auto;
}

input:not([type='radio']) {
  display: block;
  width: 100%;
  height: 3.25rem;
  margin-top: 0.25rem;
  padding: 0.75rem;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.1);
}

input[type='color'] {
  padding: 0.25rem;
}

input[type='radio'] {
  margin-right: 0.5rem;
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

label {
  display: block;
  margin: 1rem 0;
  font-size: 0.875rem;
  font-weight: 600;
}

label:has(input[type='radio']) {
  display: inline-block;
  position: relative;
  padding-left: 2.25rem;
  margin-right: 2rem;
  cursor: pointer;

  font-size: 1rem;
}

label:has(input[type='radio']):before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: calc(1.5rem - 2px); /* account for border */
  height: calc(1.5rem - 2px); /* account for border */

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 1000px;
  background: rgba(255, 255, 255, 0.1);
}

label:has(input[type='radio']):after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 1.5rem;
  height: 1.5rem;

  border-radius: 1000px;
  background: rgba(255, 255, 255, 0.75);

  transform: scale(0);
  transition: transform 0.1s;
}

label:has(input[type='radio']:checked):after {
  transform: scale(0.5);
}

button {
  display: flex;
  align-items: center;

  height: 3rem;
  padding: 0 1rem;
  cursor: pointer;

  font: inherit;
  font-weight: 600;
  font-size: 0.875rem;

  border: none;
  border-radius: 0.25rem;
  background: hotpink;
}

button:active {
  background: #d8428d;
}

button[type='submit'] {
  margin-top: 1.5rem;
}
